# Resource suffix is optional, specify this if you need to keep role definitions unique amongst
# multiple workspaces using the same AWS Account.
resource_suffix                    = ""
enable_cluster_manager             = true
enable_dns_zone_manager            = true
enable_network_manager             = true
enable_cloud_resource_provisioning = true
enable_cloud_info                  = false
enable_peering_acceptor = false
from_aws                           = false
from_azure                         = true
wayfinder_identity_azure_client_id = "87654321-dcba-10fe-abcd-012345678901"
wayfinder_identity_azure_tenant_id = "12345678-abcd-ef01-dcba-012345678901"
